<% layout('/layouts/boilerplate.ejs') %>


    <h3>All Lists</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->
     <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for( let list of lists ) { %>
        <a href="/lists/<%= list._id %>" class="listing-link">
    <div class="card col" style="width: 20rem;">
        <img src="<%= list.image %>" class="card-img-top" alt="Listing_image" style ="height: 20rem;" />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
           <b> <%= list.title %> </b>
            <br>
            &#8377; <%=  list.price.toLocaleString('en-IN') %> / night

          </p>
        </div>
      </div>
    </a>
      <% } %>
    </div>
</body>
