<% layout('/layouts/boilerplate') %>

<body>
    <h3>All Lists</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->
    <ul>
    <% for( let list of lists ) { %>
    <li> <a href="/lists/<%= list._id %> "><%= list.title %></a></li> 
    <% } %>
</ul>  
</body>
